%section.invite.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @invitation, class: 'invite' do |f|
        %header
          %h1 Invite a friend to join MyFlix!
        %fieldset
          .form-group
            .row
              .col-sm-4
                = f.text_field :recipient_name, label: "Friend's Name", class: 'form-control'
          .form-group
            .row
              .col-sm-4
                = f.email_field :recipient_email, label: "Friend's Email Address", class: 'form-control'
          .form-group
            .row
              .col-sm-6
                = f.text_area :message, rows: 6, label: "Message", class: 'form-control', placeholder: 'Please join this really cool site!'
        %fieldset.form-group.action
          = f.submit :Submit, class: 'btn btn-default'
